@import url('https://fonts.googleapis.com/css?family=VT323');

$tilt-amount: 10deg;
$shine-move: 40px;
$snake-lift: 20px;

h1
{
	margin: 0;
}

#container
{
    display: flex;
	flex-direction: column;
    align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
    text-transform: uppercase;
	font-family: 'VT323', monospace;

	perspective: 1700px;
	

	#board-container
	{
		border-radius: 8px;
		margin: 20px;
		padding: 20px 20px 10px 20px;
		//box-shadow: 9px 7px 30px -6px rgba(0,0,0,0.25);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		background-color: white;
		background-image: radial-gradient(farthest-corner at 10px 10px, var(--color-background) 0%, var(--color-background-dark) 100%);
		transform: rotateX(0deg);
		transform-style: preserve-3d;
		transition: transform 0.3s ease, box-shadow 0.5s ease;
		//overflow: hidden;

		#board
		{
			border-radius: 5px;
			border: solid 1px var(--color-snake);
			transform: translateZ($snake-lift);
		}

		.shine-container
		{
			position: absolute;
			top: 0; 
			left: 0;
			right: 0; 
			bottom: 0;
			border-radius: 8px;
			overflow: hidden;

			.shine
			{
				position: absolute;
				top: -$shine-move; 
				left: -$shine-move;
				right: -$shine-move; 
				bottom: -$shine-move;
				background: linear-gradient(45deg, rgba(255,255,255,.75) 0%,rgba(255,255,255,0) 60%);
				transition: transform 0.3s ease;
			}
		}

		.info-container
		{
			height: 100%;
			width: 100%;
			min-height: 50px;
			margin-top: 5px;
			display: flex;
			flex-direction: row;
			//align-items: center;
			align-content: center;
			justify-content: space-between;
			transform: translateZ(20px);

			.label
			{
				margin: 5px 5px 0 0;
			}

			#score
			{
				font-size: 1.5em;
				font-weight: 300;
				padding: 10px 20px;
			}

			.flex
			{
				flex: 1;
			}
		}
	}

	&.PLAYING
	{
		#board-container
		{
			&.up
			{ 
				transform: rotateX($tilt-amount); 
				.shine-container .shine { transform: rotateX($tilt-amount) translateX(-$shine-move) translateZ(1px) } 
			}
			&.down
			{ 
				transform: rotateX(-$tilt-amount); 
				.shine-container .shine { transform: rotateX(-$tilt-amount) translateX($shine-move) translateZ(1px) } 
			}
			&.left
			{ 
				transform: rotateY(-$tilt-amount); 
				.shine-container .shine { transform: rotateY(-$tilt-amount) translateY(-$shine-move) translateZ(1px) } 
			}
			&.right
			{ 
				transform: rotateY($tilt-amount); 
				.shine-container .shine { transform: rotateY($tilt-amount) translateY($shine-move) translateZ(1px) } 
			}
		}
	}

	#start-button
	{
		font-family: inherit;
		text-transform: uppercase;
		font-size: 1.5em;
		background-color: transparent;
		color: var(--color-snake);
		padding: 10px 20px;
		//border: 2px solid var(--color-snake);
		border: 0;
		border-radius: 2px;
		//margin: 10px 10px 40px 10px;
		cursor: pointer;
		outline: none;

		&:hover
		{
			color: white;
		//	background-color: var(--color-background);
			border-color: var(--color-background);
		}
	}

	.state-driven
	{
		display: none;
	}

	&.READY
	{
		#start-button
		{
			display: block;
		}
	}
	
	&.PLAYING
	{
		#board-container
		{
			box-shadow: 0 45px 100px rgba(0, 0, 0, 0.3);
			transform: translateZ(10px)
		}
	}

	&.ENDED
	{
		#start-button
		{
			display: block;
		}

		.re
		{
			display: inline;
		}
	}

	.controls
	{
		.keyboard{ display: inline; }
		.touch{ display: none; }

		@media (any-hover: none) and (any-pointer: coarse) 
		{ 
			.keyboard{ display: none; }
			.touch{ display: inline; }
		}

	}
}

