@keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0 }
  }

#board 
{
	--grid-columns: 0;
	--grid-rows: 0;
    --grid-size: 0;

    width: calc(var(--grid-size) * var(--grid-columns) * 1px);
    height: calc(var(--grid-size) * var(--grid-rows) * 1px);
	
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
 	grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-gap: 1px;
    
	>div
	{
        background-color: transparent;

        &.food, &.snake
        {
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
        }

        &.food
        {
            background-color: var(--color-snake);
            border-radius: 50%;
            margin: 1px;
        }
        
        &.snake
        {
            background-color: var(--color-snake);

            &.head
            {
                &.up{ border-top-left-radius: 50%; border-top-right-radius: 50%;}
                &.down{ border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
                &.left{ border-top-left-radius: 50%; border-bottom-left-radius: 50%;}
                &.right{ border-top-right-radius: 50%; border-bottom-right-radius: 50%;}
            }

            &.tail
            {
                &.up{ border-bottom-left-radius: 50% 100%; border-bottom-right-radius: 50% 100%;}
                &.down{ border-top-left-radius: 50% 100%; border-top-right-radius: 50% 100%;}
                &.right{ border-bottom-left-radius: 100% 50%; border-top-left-radius: 100% 50%;}
                &.left{ border-bottom-right-radius: 100% 50%; border-top-right-radius: 100% 50%;}
            }

            &.turn-left
            {
                &.up{ border-top-right-radius: 50%;}
                &.down{ border-bottom-right-radius: 50%;}
            }
            
            &.turn-right
            {
                &.up{ border-top-left-radius: 50%;}
                &.down{ border-bottom-left-radius: 50%;}
            }
            
            &.turn-up
            {
                &.left{ border-bottom-left-radius: 50%;}
                &.right{ border-bottom-right-radius: 50%;}
            }
            
            &.turn-down
            {
                &.left{ border-top-left-radius: 50%;}
                &.right{ border-top-right-radius: 50%;}
            }

            &.dead
            {
                animation: flash 0.3s steps(1) infinite;
            }
        }

        
	}
}