html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
	overflow: hidden;
}

#app-container
{
	--color-background: #7ca256;
    --color-background-dark: darken(#7ca256, 6%);
	--color-snake: #212121;
	
	width: 100%;
	height: 100%;
}