html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
}

.container
{
    display: flex;
	flex-direction: column;
    align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

